
@{
    Layout = null;
}

<a href="@Url.Action("GioHang","GioHang")" style="color:black; font-weight:bold; text-decoration:none;">
    <img src="~/Asset/Pic/Cartblue.png" style="width:30px;height:30px" /> Giỏ hàng (@ViewBag.Tongsoluong)
</a>
