@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<h2>Đơn hàng của quý khách đã được Cửa hàng ghi nhận. Chúng tôi sẽ liên hệ với quý khách trong thời gian sớm nhất và giao hàng đúng hẹn</h2>
<p>@Html.ActionLink("Quay lại trang chủ","Home1","Client")</p>